<div class="jumbotron">
  <!-- Esto es lo que ocupa el ng-view por defecto

  <div ng-controller="BottomSheetExample">
    <p style="padding-left: 20px;">
      Bottom sheet can be dismissed with the service or a swipe down.
    </p>
    <div class="bottom-sheet-demo inset" layout="column" layout-sm="row" layout-align="center">
      <md-button class="md-primary" ng-click="showListBottomSheet($event)">
      Show as List
    </md-button>
    <div style="width:50px;"></div>
    <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
    Show as Grid
  </md-button>
</div>
<br/>
<b layout="row" layout-align="center center" layout-margin>
  {{alert}}
</b>
</div> -->

<h1>'Allo, 'Allo!</h1>
<p class="lead">
  <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  Always a pleasure scaffolding your apps.
</p>
<p><a class="btn btn-lg btn-success" ng-href="#/material">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
</p>

<h4>Angular</h4>
<p>
    AngularJS is a toolset for building the framework most suited to your application development.
</p>

<h4>Karma</h4>
<p>Spectacular Test Runner for JavaScript.</p>
</div>
